/*------------------------------------*\
    BASE
\*------------------------------------*/
/* line 5, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html, body {
  height: 100%;
  width: 100%;
}

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    UTILILTY CLASSES
\*------------------------------------*/
/* line 19, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 25, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 31, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-h {
  height: 100%;
}

/* line 35, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-w {
  width: 100%;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 44, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead {
  position: relative;
  height: 100%;
  background-image: url(https://micotrip.files.wordpress.com/2013/03/capture.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #FFE736;
}

/* line 55, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px 40px;
  z-index: 1000;
  background-color: #373737;
}

/* line 64, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__nav-brand {
  font-family: "Alex Brush";
  font-size: 35px;
  font-weight: bold;
  color: #FFE736;
}
/* line 70, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__nav-brand:hover {
  color: #FFE736;
}

/* line 75, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__content-container {
  padding: 5px 20px;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 231, 54, 0.92);
  color: #000;
}

/* line 84, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__title {
  font-size: 60px;
  text-transform: uppercase;
}

/* line 93, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__announcement {
  position: absolute;
  bottom: 25px;
  background: #373737;
}

/* line 100, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__announcement-icons:before {
  padding: 20px;
}

/* line 103, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #626262;
  text-align: center;
}
/* line 110, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down > a {
  color: #D6D6D6;
  font-weight: bold;
  font-size: 75%;
}

@media screen and (max-width: 480px) {
  /* line 119, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead {
    height: auto;
  }

  /* line 123, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__title {
    font-size: 46px;
  }

  /* line 127, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__announcement {
    position: relative;
    bottom: 0;
  }
}
/*------------------------------------*\
    #CALLOUT
\*------------------------------------*/
/* line 138, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.callout {
  position: relative;
  padding: 20px 0 10px 0;
  margin-top: 50px;
  background: #373737;
  color: #FFE736;
  font-family: "Merriweather";
}

/* line 147, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.callout__content {
  max-width: 500px;
  margin: auto;
  font-size: 14px;
}

/* line 153, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.callout__floating-title {
  position: absolute;
  top: -70px;
  width: 100%;
  color: #373737;
  font-weight: bold;
  font-family: Oswald;
  text-transform: uppercase;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 170, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section {
  padding: 30px 0;
}

/* line 175, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__header {
  padding: 0 0 30px 0;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 183, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content, .section__content--border {
  max-width: 800px;
  margin: auto;
}

/* line 188, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md {
  max-width: 500px;
  margin: auto;
  text-align: center;
}
/* line 193, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md > h1, .section__content--md h2, .section__content--md h3 {
  margin-bottom: 30px;
  padding: 40px 0;
  font-family: "Oswald";
  font-weight: bold;
  color: #FCD037;
  text-transform: uppercase;
  border-bottom: 1px solid #FCD037;
}
/* line 204, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md > h1 {
  font-size: 80px;
}
/* line 208, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md > h2 {
  font-size: 50px;
}
/* line 212, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md > h3 {
  font-size: 30px;
}
/* line 216, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--md > p {
  font-family: "Vidaloka";
  font-size: 17px;
}

/* line 222, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--border {
  padding-left: 10px;
  text-align: justify;
  border-left: 4px solid #FFE736;
}

/*------------------------------------*\
    #CARD
\*------------------------------------*/
/* line 238, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item {
  position: relative;
}
/* line 241, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item h1, .card__item h2, .card__item h3 {
  margin: 0;
  padding: 10px;
  background: #000;
  color: #FFF;
  font-family: "Playfair Display";
  font-weight: bold;
}
/* line 250, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item p {
  min-height: 80px;
  padding: 10px;
  background: #373737;
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 80%;
}

/* line 261, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__more {
  position: absolute;
  right: 15px;
  bottom: 13px;
  padding: 3px;
  background: #282828;
  font-family: "Playfair Display";
  font-size: 50%;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFE736;
}

/* line 274, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__image-holder {
  height: 300px;
  width: 100%;
}

/* line 281, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__image-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*------------------------------------*\
    #the-poet-photo
\*------------------------------------*/
/* line 297, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo {
  position: relative;
  min-height: 800px;
  margin: 20px auto;
  width: 960px;
}

/* line 304, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img {
  position: absolute;
  padding: 0 10px;
  background-size: cover;
  background-position: center;
  color: #FFF;
}
/* line 311, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img .text-wrapper {
  position: relative;
  top: 279px;
  background-color: rgba(255, 255, 255, 0.97);
  margin: -10px;
  padding: 0 15px;
}
/* line 319, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img .text-wrapper > h1 {
  color: #FCD037;
  font-family: "Oswald";
  font-weight: bold;
  text-transform: uppercase;
}
/* line 326, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img .text-wrapper > p {
  color: #000;
  font-family: "Vidaloka";
  font-size: 17px;
}
/* line 332, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img .text-wrapper > a {
  font-family: "Oswald";
  color: #000;
}
/* line 338, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img.main {
  background-image: url("/assets/images/poet-first.png");
  left: 300px;
  top: 0;
  width: 400px;
  height: 500px;
}
/* line 346, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img.lydia {
  background-image: url("/assets/images/poet-lydia.png");
  left: 0;
  top: 250px;
  width: 400px;
  height: 300px;
}
/* line 354, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.the-poet-photo__img.portrait {
  background-image: url("/assets/images/poet-portrait.png");
  left: 425px;
  top: 443px;
  width: 450px;
  height: 300px;
}

/*------------------------------------*\
    #FOUNDER
\*------------------------------------*/
/* line 368, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder {
  margin-top: 50px;
}

/* line 372, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item {
  padding-bottom: 20px;
}

/* line 376, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__img {
  border-radius: 100%;
}

/* line 380, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__hoverTitle {
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*------------------------------------*\
    #FOUNDER - STATES
\*------------------------------------*/
/* line 398, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item:hover > .founder__hoverTitle {
  opacity: 1;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/* line 411, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.footer {
  padding: 10px 0 0 0;
  background: #3F3F3F;
  font-size: 70%;
  color: #FFF;
}
