/*------------------------------------*\
    BASE
\*------------------------------------*/
/* line 5, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html, body {
  height: 100%;
  width: 100%;
}

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    UTILILTY CLASSES
\*------------------------------------*/
/* line 18, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 24, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 30, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-h {
  height: 100%;
}

/* line 34, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-w {
  width: 100%;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 42, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead {
  position: relative;
  height: 100%;
  background: #373737;
  color: #FFE736;
}

/* line 49, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 55, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__shortdesc {
  max-width: 400px;
}

/* line 59, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__announcement {
  position: absolute;
  bottom: 20px;
}

/* line 64, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #626262;
  text-align: center;
}
/* line 71, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down > a {
  color: #D6D6D6;
  font-weight: bold;
  font-size: 75%;
}

@media screen and (max-width: 480px) {
  /* line 80, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead {
    height: auto;
  }

  /* line 84, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__title {
    font-size: 46px;
  }

  /* line 88, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__announcement {
    position: relative;
    bottom: 0;
  }
}
/*------------------------------------*\
    #CALLOUT
\*------------------------------------*/
/* line 99, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.callout {
  padding: 20px 0 20px 0;
  background: #373737;
  color: #FFE736;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 111, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section {
  padding: 30px 0;
}

/* line 116, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__header {
  padding: 0 0 30px 0;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 124, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  text-align: justify;
  border-left: 4px solid #FFE736;
}

/*------------------------------------*\
    #FOUNDER
\*------------------------------------*/
/* line 138, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item {
  padding-bottom: 20px;
}

/* line 142, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__img {
  border-radius: 100%;
}

/* line 146, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__hoverTitle {
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*------------------------------------*\
    #FOUNDER - STATES
\*------------------------------------*/
/* line 164, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item:hover > .founder__hoverTitle {
  opacity: 1;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/* line 177, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.footer {
  padding: 10px 0 0 0;
  background: #3F3F3F;
  font-size: 70%;
  color: #FFF;
}
