/*------------------------------------*\
    BASE
\*------------------------------------*/
/* line 5, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../../../../source/bootstrap-sass/sapni-crissot/_base.scss */
html, body {
  height: 100%;
  width: 100%;
}

/*------------------------------------*\
    VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    UTILILTY CLASSES
\*------------------------------------*/
/* line 18, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 24, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.v-align-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 30, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-h {
  height: 100%;
}

/* line 34, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.fill-w {
  width: 100%;
}

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
/* line 43, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead {
  position: relative;
  height: 100%;
  background-image: url(https://micotrip.files.wordpress.com/2013/03/capture.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #ffe736;
}

/* line 54, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__content-container {
  max-width: 600px;
  padding: 5px 20px;
  background: #373737;
}

/* line 60, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 66, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__shortdesc {
  max-width: 400px;
}

/* line 70, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__announcement {
  position: absolute;
  bottom: 25px;
  background: #373737;
}

/* line 77, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__announcement-icons:before {
  padding: 20px;
}

/* line 80, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #626262;
  text-align: center;
}
/* line 87, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.masthead__scroll-down > a {
  color: #D6D6D6;
  font-weight: bold;
  font-size: 75%;
}

@media screen and (max-width: 480px) {
  /* line 96, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead {
    height: auto;
  }

  /* line 100, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__title {
    font-size: 46px;
  }

  /* line 104, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
  .masthead__announcement {
    position: relative;
    bottom: 0;
  }
}
/*------------------------------------*\
    #CALLOUT
\*------------------------------------*/
/* line 115, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.callout {
  padding: 20px 0 20px 0;
  background: #373737;
  color: #ffe736;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 127, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section {
  padding: 30px 0;
}

/* line 132, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__header {
  padding: 0 0 30px 0;
}

/*------------------------------------*\
    #SECTION
\*------------------------------------*/
/* line 140, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content, .section__content--border {
  max-width: 800px;
  margin: auto;
}

/* line 145, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.section__content--border {
  padding-left: 10px;
  text-align: justify;
  border-left: 4px solid #FFE736;
}

/*------------------------------------*\
    #CARD
\*------------------------------------*/
/* line 161, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item {
  position: relative;
}
/* line 164, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item h1, .card__item h2, .card__item h3 {
  margin: 0;
  padding: 10px;
  background: #000;
  color: #FFF;
  font-family: "Playfair Display";
  font-weight: bold;
}
/* line 173, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__item p {
  min-height: 80px;
  padding: 10px;
  background: #373737;
  color: #FFF;
  font-family: "Playfair Display";
  font-size: 80%;
}

/* line 184, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__more {
  position: absolute;
  right: 15px;
  bottom: 13px;
  padding: 3px;
  background: #282828;
  font-family: "Playfair Display";
  font-size: 50%;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFE736;
}

/* line 197, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__image-holder {
  height: 300px;
  width: 100%;
}

/* line 204, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.card__image-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

/*------------------------------------*\
    #FOUNDER
\*------------------------------------*/
/* line 217, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item {
  padding-bottom: 20px;
}

/* line 221, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__img {
  border-radius: 100%;
}

/* line 225, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__hoverTitle {
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*------------------------------------*\
    #FOUNDER - STATES
\*------------------------------------*/
/* line 243, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.founder__item:hover > .founder__hoverTitle {
  opacity: 1;
}

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/* line 256, ../../../../source/bootstrap-sass/sapni-crissot/sapni-crissot.scss */
.footer {
  padding: 10px 0 0 0;
  background: #3F3F3F;
  font-size: 70%;
  color: #FFF;
}
