<div class="app-content__mini-panel">
  <gist-list></gist-list>
</div>
<div class="app-content__large-panel">
  <div class="app-content__large-panel-header">
    <div class="app-content__large-panel-header__title">Octonote</div>
    <div class="app-content__large-panel-header__meta">
      <span>Dashboard</span>
    </div>
  </div>
  <div class="app-content__dashboard">
    <h1>Welcome to Octonote!</h1>
    <p class="lead">
      I know you love taking notes and making cool snippets that you can
      share with your friends! Go have some fun using Octonote and give me some
      feedback on how I can improve this application, pull requests are always
      welcome!
    </p>
  </div>
</div>
