<div class="app-content__mini-panel">
  <gist-list data-options="{ isStarred : true }"></gist-list>
</div>
<div class="app-content__large-panel">
  <div class="app-content__large-panel-header">
    <div class="app-content__large-panel-header__title">Octonote</div>
    <div class="app-content__large-panel-header__meta">
      <span>Dashboard</span>
    </div>
  </div>
  <div class="app-content__dashboard">
    <h1>Starred Gists!</h1>
    <p class="lead">
     Wow you have certainly starred some of the cool snippets!
    </p>
  </div>
</div>
