<div class="gist-item">
  <div class="gist-item__filename" ng-bind="gistItem.files[0].filename"></div>
  <div class="gist-item__updated-at">
    <span>Last Updated : </span>
    <span ng-bind="gistItem.gist.updated_at | date : date:'medium'"></span>
  </div>
  <div class="gist-item__description"
       ng-bind="!gistItem.gist.description ? 'No Description' : gistItem.gist.description"></div>
</div>
<!--<img ng-src="{{ gistItem.gist.owner.avatar_url }}" height="30" width="30" alt=""/>-->

<!--<pre>-->
<!--{{ gistItem.gist | json }}-->
<!--</pre>-->
<!--<pre>-->
<!--{{ gistItem.files[0] | json }}-->
<!--</pre>-->
