<div class="logo">
  <div class="toolbar__links">
    <div class="toolbar__link toolbar__link--logo">
      <a ui-sref="dashboard.default">
        <span class="ionicon ion-social-github-outline"></span>
      </a>
    </div>
  </div>
  <div class="toolbar__links">
    <div class="toolbar__link">
      <a href="">
        <span class="ionicon ion-ios-search"></span>
      </a>
    </div>
  </div>
  <div class="toolbar__links">
    <div class="toolbar__link">
      <a href="">
        <span class="ionicon ion-ios-folder-outline"></span>
      </a>
    </div>
  </div>
  <div class="toolbar__links">
    <div class="toolbar__link">
      <a href="">
        <span class="ionicon ion-ios-star-outline"></span>
      </a>
    </div>
  </div>
  <div class="toolbar__links toolbar__links--bottom">
    <div class="toolbar__link">
      <a href="">
        <span class="ionicon ion-ios-person-outline"></span>
      </a>
    </div>
  </div>
</div>
